body {
    font-family: montserrat;
    background-color: #E1EAD2;
    color: #333;
    margin: 0;
    padding: 0px;
}

h2 {
    color: black;
    margin-top: 20px;
    margin-left: 600px;
}

.account-card {
    background: white;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #4b8b3b;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: large;
}

.account-info {
    text-align: left;
    margin-bottom: 20px;
    padding: 0 20px;
}

form {
    width: 100%;
    margin: 10px 0;
}

.logout-btn {
    background-color: rgb(226, 217, 217); 
    color: black;
    padding : 10px 15px;
    border : none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logout-btn:hover{
    background-color: #4b8b3b;
}


.delete-btn {
    background-color: white; 
    color: red;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    border: white;
}

.delete-btn:hover {
    text-decoration: underline; /* Light red background on hover */
}

