*{
    font-family : montserrat;
}
body {
    font-family: montserrat;
    background-color: #E8FFE3;
    color: #333;
    margin: 0;
    padding: 0px;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: #2c6f2c;
    font-family : montserrat;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2c6f2c;
    border-radius: 10px;
    background-color: white;
    font-family : montserrat;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="email"],
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2b9e3a;
    border-radius: 10px;
    background-color: #E8FFE3;
}
button {
    background-color: #2c6f2c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 400px;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
}

button:hover {
    background-color: #245624;
}
p {
    text-align: center;
    color: red;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2c6f2c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
label{
    font-family: montserrat;
}
