<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DR CROP</title>
    
    <link rel="stylesheet" th:href="@{/css/Account.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link id="favicon" rel="icon" type="image/png" href="images/dr-crop-logo--white.png">
</head>


<body>

<div class="homepage-header">
    <div class="homepage-logo">
        <img th:src="@{/images/logo.png}">
        
    </div>
    <div class="homepage-nav">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=drcropimca@gmail.com" class="homepage-nav-link" target="_blank">Support</a>
        <a href="/web/homepage"><button class="homepage-analyze-btn">Home</button></a>
        <div class="homepage-user-icon"><a href="/accounts/account-user"><img th:src="@{/images/profile-icon.png}" alt=""></a></div>
    </div>
</div>

<h2>USER DETAILS</h2>

<div class="account-card">
    <div>User Name : <span th:text="${name}"></span></div>
    <div>Email : <span th:text="${email}"></span></div>
    <div>Phone No. : <span th:text="${phone}"></span></div>
    <br>
    <form action="/accounts/log-out" method="get">
        <button type = "submit" class="logout-btn">LOG OUT</button>
    </form>
    <br>
    <div>Reference Id : <span th:text="${id}"></span></div>
    <br>
    <br>

    <form action="/accounts/delete-account" method="post">
        <input type="hidden" id="email" name="email" th:value="${email}"  required>
        <button type = "submit" class="delete-btn">Delete Account</button>
    </form>

    <br>
    <a href="www.google.com">Need Help? User Support</a>
</div>
</body>

</html>